
    @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
    
.nunito-sans-uniquifier {
        font-family: "Nunito Sans", serif;
        font-optical-sizing: auto;
        font-weight: 16px;
        font-style: normal;
      }


:root {
    --background: #F4D9D0;
    --primary: #C75B7A;
    --secondary: #F7B5CA;
    --nav-bg: #C75B7A;


font-family: "Nunito Sans";
--text-white: #F4D9D0;
--text-pink: #C75B7A;


}